*, html{ font-family: Helvetica, Arial, sans-serif; }

body{ padding: 20px; background-color: #f2f2f2; }

h1{ font-family: Georgia, Times New Roman, serif; font-size:42px; letter-spacing:-1.4px; margin: 14px; text-transform: uppercase; text-align: center; }

div.col{ float: left; width: 500px; padding: 12px; background-color: #fff; border-radius: 6px; -moz-border-radius:6px; -webkit-border-radius: 6px; margin: 12px; height: 550px; }
div.col label{ display:block; font-weight: 900; font-size:16px; letter-spacing: -1px; color: #fff; background-color: #000; width: 140px; padding: 6px; margin: 6px; }

div.col textarea{ width: 90%; margin: 6px; height: 85%; }

div.col-2{ float: left; height: 550px; }
div.col-2 input{ margin-top: 240px; color: #fff; background-color: #df0d32; padding: 4px; font-weight: 900; border: none; font-size:20px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; letter-spacing: -1px; cursor: pointer; }
div.col-2 input:hover{ background-color: #4ca5fe; }
